$main-font: "Roboto", sams-serif;
$secondary-font: "Raleway", sams-serif;
$title-dark-theme-color: #ffffff;
$title-light-theme-color: #212121;
$text-dark-theme-color: #ffffff;
$text-light-theme-color: #757575;
$accent-color: #2196f3;
